<p id="notice"><%= notice %></p>

<h1>Новости</h1>

<center><%= link_to 'New Article', new_article_path %></center>
<% @articles.each do |article| %>

<div class="post">
  <div class="author">
    <%= article.user_name %>  <%=article.user_surname %>
    <%= link_to '×', article, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="title">
    <%= article.title %>
  </div>
  <div class="content">
    <%= article.content %>
  </div>
  <div class="links">
    <%= article.created_at.strftime("%d %b %Y") %>, <%= article.created_at.strftime("%H:%M") %>
    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
  </div>
</div>
<br/>
<% end %>
<br>
