<p id="notice"><%= notice %></p>
<h1>Show article</h1>
<br/><br/>
<div class="post">
  <div class="author">
    <table>
      <tr>
        <td width="560px">
          <%= @article.user_name %>  <%= @article.user_surname %>
        </td>
        <td align="right">
          <% if current_user.id == @article.user_id || current_user.id == 1  %>
            <%= link_to '×', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
              <span>×</span>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="title">
    <%= @article.title %>
  </div>
  <div class="content">
    <%= @article.content %>
  </div>
  <div class="links">
    <%= @article.created_at.strftime("%d %b %Y") %>, <%= @article.created_at.strftime("%H:%M") %>
    <hr>
  </div>
  <div class="comlab">Комментарии:</div>
  <div class="comments">
    <%= render @article.comments %>
    <br>
  </div>
  <%= render 'comments/form' %>
  <% if current_user.id == @article.user_id %>
    <%= link_to 'Edit', edit_article_path(@article) %>
  <% else %>
    <span>Edit</span>
  <% end %>
   |
  <%= link_to 'Back', articles_path %>
  <br /><br />
</div>