  <h1>Личная страница</h1>
  <center><%= link_to 'New Article', new_article_path %></center>

  <% @articles.each do |article| %>
    <% if current_user.id == article.user_id %>
      <div class="post">
        <div class="author">
          <%= article.user_name %>  <%=article.user_surname %>
          <%= link_to '×', article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="title">
          <%= article.title %>
        </div>
        <div class="content">
          <%= article.content %>
        </div>
        <div class="links">
          <%= article.created_at.strftime("%d %b %Y") %>, <%= article.created_at.strftime("%H:%M") %>
          <%= link_to 'Show', article %>
          <%= link_to 'Edit', edit_article_path(article) %>
        </div>
      </div>
    <br/>
    <% end %>
  <% end %>
<div class="center hero-unit">
</div>