<div class="center hero-unit">
  <h1>Личная страница</h1>

  <center><%= link_to 'New Article', new_article_path %></center>

  <% @articles.each do |article| %>
    <% if current_user.id == article.user_id %>
      <div class="con">
        <h2><%= article.user_name %></h2>
        <h3><%= article.title %></h3>
        <table>
          <tr>
            <td colspan="3"><%= article.content %></td>
          </tr>
          <tr>
            <td><center><%= link_to 'Show', article %></center></td>
            <td><center><%= link_to 'Edit', edit_article_path(article) %></center></td>
            <td><center><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
          </tr>
        </table>    
      </div>
    <% end %>
  <% end %>
  
</div>