  <div class="leftborder">
    <div class="avatar">
    </div>
  </div>
  <div class="rightborder">
    <table class="infotable">
      <tbody>
        <tr>
          <td><span>Full Name:</span> </td>
          <td><%= @user.name %> <%= @user.surname %></td>
        </tr>
        <tr>
          <td> <span>Age:</span> </td>
          <td><%= @user.age %></td>
        </tr>
        <tr>
          <td> <span>E-mail:</span> </td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td> <span>Mobile:</span> </td>
          <td><%= @user.mobile %></td>
        </tr>
        <tr>
          <td> <span>VK:</span> </td>
          <td><%= @user.vkpage %></td>
        </tr>
      </tbody>
    </table> 
  </div>
  <div class="clear"></div>
  <br/>
  <div class="bord">
    <hr>
    <% if current_user.id == @user.id %>
      <h1>My news:</h1>
    <% else %>
      <h1><%= @user.name %> news:</h1>
    <% end %>
    <hr>
  </div>

  <div class="profpost">
    <% @articles.each do |article| %>
      <% if @user.id == article.user_id %>
      <div class="post">
        <div class="author">
          <table>
            <tr>
              <td width="560px">
                <%= article.user_name %>  <%=article.user_surname %>
              </td>
              <td align="right">
                <% if current_user.id == article.user_id || current_user.id == 1  %>
                  <%= link_to '×', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% else %>
                    <span>×</span>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
        <div class="title">
          <%= article.title %>
        </div>
        <div class="content">
          <%= article.content %>
        </div>
        <div class="links">
          <%= article.created_at.strftime("%d %b %Y") %>, <%= article.created_at.strftime("%H:%M") %>
          <%= link_to 'Show', article %>
          <% if current_user.id == article.user_id %>
            <%= link_to 'Edit', edit_article_path(article) %>
          <% else %>
            <span>Edit</span>
          <% end %>
          <hr>
        </div>
        <div class="comlab">Комментарии:</div>
        <div class="comments">
          <%= render article.comments %>
          <hr>
          <div class="com_url">
            <%= link_to 'Comment', article %>
          </div>
          <div class="hr"><hr></div>
        </div>
        <br /><br />
</div>
<% end %>
<% end %>
<br>
  </div>
<div class="center hero-unit">
</div>