<h1>Авторизация</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email, class: "authlab"%><br />
    <%= f.email_field :email, autofocus: true, class: "auth" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :password, class: "authlab" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "auth" %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "authbox" %>
    </div>
  <% end -%>
  <div class="field">
    <%= f.submit "Log in", class: "authbtn" %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
