<p id="notice"><%= notice %></p>

<h1>Фотогалерея</h1>
  <div class="cent">
    <% @images.each do |image| %>
      <div class="phgal">
        <table>
          <tr>
            <td colspan="3" height="250"><%= image_tag image.image_url(:thumb) %></td>
          </tr>
          <tr>
            <td colspan="3"><%= image.title %></td>
          </tr>
          <tr>
            <td colspan="3"><%= image.description %></td>
          </tr>
          <tr>
            <td><center><%= link_to 'Show', image %></center></td>
            <td><center><%= link_to 'Edit', edit_image_path(image) %></center></td>
            <td><center><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>      
          </tr>
        </table>
      </div>
    <% end %>
    <div class="clear">
    </div>
  </div>
<br>

<%= link_to 'New Image', new_image_path %>
